# Credenciais e Arquivos Sensíveis
db.properties
*.env
.env
*.key
*.pem

# Compilação Java
target/
build/
out/
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

# IDEs - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# IDEs - Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IDEs - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IDEs - VS Code
.vscode/

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
